:root {
    --colour-primary: rgb(91, 164, 164);
    --colour-secondary: rgb(123, 142, 142);
    --colour-tertiary: rgb(44, 58, 58);
    --colour-background: rgb(239, 250, 250);
    --font-family: "League Spartan", sans-serif;
    --font-size-global: 62.5%;
    --colour-secondary-values: 123, 142, 142;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    min-height: 100vh;
}

html {
    font-size: var(--font-size-global);
}

body {
    color: var(--colour-primary);
    font-family: var(--font-family);
    background-color: var(--colour-background);
    font-size: 1.6rem;
}
